body {
  background-color: #111;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.calculadora {
  background: #222;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 0 15px #0ff;
  width: 260px;
}

#display {
  width: 100%;
  height: 50px;
  font-size: 24px;
  text-align: right;
  margin-bottom: 10px;
  padding-right: 15px;
  border: none;
  border-radius: 8px;
  padding: 10px;
  background: #000;
  color: #0ff;
}



.botoes {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

button {
  height: 50px;
  font-size: 18px;
  border: none;
  border-radius: 8px;
  background-color: #333;
  color: #fff;
  cursor: pointer;
  transition: 0.2s;
}

button:hover {
  background-color: #0ff;
  color: #000;
  transform: scale(1.05);
}